.size {
    width: 200px !important;
    height: 200px !important;
    font-size: 36px !important;
    background-color: rgba(0, 217, 255, 0.527) !important;
    border: 3px solid white !important;
}

.center {
    text-align: center !important;
}